data/*.csv
*.pyc
data/._DES_UNBLIND_KEY
data/DES_BLIND+HOSTZ/*
data/DES_BLINDnoHOSTZ/*
data/DES_UNBLIND_KEY/*
data/SIMGEN_PUBLIC_DES/*
arch/*
*.aux
*.log
*.out
*.synctex*
*.dvi
*.bbl
*.blg
inis/*
save/*
plots/*